<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ziruo.mall.mapper.OrderGoodsMapper">
  <resultMap id="BaseResultMap" type="net.ziruo.mall.model.domain.OrderGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="image_id" jdbcType="INTEGER" property="imageId" />
    <result column="deduct_stock_type" jdbcType="TINYINT" property="deductStockType" />
    <result column="spec_type" jdbcType="TINYINT" property="specType" />
    <result column="spec_sku_id" jdbcType="VARCHAR" property="specSkuId" />
    <result column="goods_spec_id" jdbcType="INTEGER" property="goodsSpecId" />
    <result column="goods_attr" jdbcType="VARCHAR" property="goodsAttr" />
    <result column="goods_no" jdbcType="VARCHAR" property="goodsNo" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="line_price" jdbcType="DECIMAL" property="linePrice" />
    <result column="goods_weight" jdbcType="DOUBLE" property="goodsWeight" />
    <result column="total_num" jdbcType="INTEGER" property="totalNum" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="net.ziruo.mall.model.domain.OrderGoods">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goods_id, goods_name, image_id, deduct_stock_type, spec_type, spec_sku_id, goods_spec_id, 
    goods_attr, goods_no, goods_price, line_price, goods_weight, total_num, total_price, 
    order_id, user_id, create_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="net.ziruo.mall.model.domain.OrderGoodsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ln_order_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="net.ziruo.mall.model.domain.OrderGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ln_order_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ln_order_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ln_order_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.ziruo.mall.model.domain.OrderGoodsExample">
    delete from ln_order_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.ziruo.mall.model.domain.OrderGoods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ln_order_goods (goods_id, goods_name, image_id, 
      deduct_stock_type, spec_type, spec_sku_id, 
      goods_spec_id, goods_attr, goods_no, 
      goods_price, line_price, goods_weight, 
      total_num, total_price, order_id, 
      user_id, create_time, content
      )
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{imageId,jdbcType=INTEGER}, 
      #{deductStockType,jdbcType=TINYINT}, #{specType,jdbcType=TINYINT}, #{specSkuId,jdbcType=VARCHAR}, 
      #{goodsSpecId,jdbcType=INTEGER}, #{goodsAttr,jdbcType=VARCHAR}, #{goodsNo,jdbcType=VARCHAR}, 
      #{goodsPrice,jdbcType=DECIMAL}, #{linePrice,jdbcType=DECIMAL}, #{goodsWeight,jdbcType=DOUBLE}, 
      #{totalNum,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}, #{orderId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.ziruo.mall.model.domain.OrderGoods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ln_order_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
      <if test="deductStockType != null">
        deduct_stock_type,
      </if>
      <if test="specType != null">
        spec_type,
      </if>
      <if test="specSkuId != null">
        spec_sku_id,
      </if>
      <if test="goodsSpecId != null">
        goods_spec_id,
      </if>
      <if test="goodsAttr != null">
        goods_attr,
      </if>
      <if test="goodsNo != null">
        goods_no,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="linePrice != null">
        line_price,
      </if>
      <if test="goodsWeight != null">
        goods_weight,
      </if>
      <if test="totalNum != null">
        total_num,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="deductStockType != null">
        #{deductStockType,jdbcType=TINYINT},
      </if>
      <if test="specType != null">
        #{specType,jdbcType=TINYINT},
      </if>
      <if test="specSkuId != null">
        #{specSkuId,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecId != null">
        #{goodsSpecId,jdbcType=INTEGER},
      </if>
      <if test="goodsAttr != null">
        #{goodsAttr,jdbcType=VARCHAR},
      </if>
      <if test="goodsNo != null">
        #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="linePrice != null">
        #{linePrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsWeight != null">
        #{goodsWeight,jdbcType=DOUBLE},
      </if>
      <if test="totalNum != null">
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.ziruo.mall.model.domain.OrderGoodsExample" resultType="java.lang.Long">
    select count(*) from ln_order_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ln_order_goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.imageId != null">
        image_id = #{record.imageId,jdbcType=INTEGER},
      </if>
      <if test="record.deductStockType != null">
        deduct_stock_type = #{record.deductStockType,jdbcType=TINYINT},
      </if>
      <if test="record.specType != null">
        spec_type = #{record.specType,jdbcType=TINYINT},
      </if>
      <if test="record.specSkuId != null">
        spec_sku_id = #{record.specSkuId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSpecId != null">
        goods_spec_id = #{record.goodsSpecId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsAttr != null">
        goods_attr = #{record.goodsAttr,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsNo != null">
        goods_no = #{record.goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsPrice != null">
        goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.linePrice != null">
        line_price = #{record.linePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsWeight != null">
        goods_weight = #{record.goodsWeight,jdbcType=DOUBLE},
      </if>
      <if test="record.totalNum != null">
        total_num = #{record.totalNum,jdbcType=INTEGER},
      </if>
      <if test="record.totalPrice != null">
        total_price = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ln_order_goods
    set id = #{record.id,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      image_id = #{record.imageId,jdbcType=INTEGER},
      deduct_stock_type = #{record.deductStockType,jdbcType=TINYINT},
      spec_type = #{record.specType,jdbcType=TINYINT},
      spec_sku_id = #{record.specSkuId,jdbcType=VARCHAR},
      goods_spec_id = #{record.goodsSpecId,jdbcType=INTEGER},
      goods_attr = #{record.goodsAttr,jdbcType=VARCHAR},
      goods_no = #{record.goodsNo,jdbcType=VARCHAR},
      goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      line_price = #{record.linePrice,jdbcType=DECIMAL},
      goods_weight = #{record.goodsWeight,jdbcType=DOUBLE},
      total_num = #{record.totalNum,jdbcType=INTEGER},
      total_price = #{record.totalPrice,jdbcType=DECIMAL},
      order_id = #{record.orderId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ln_order_goods
    set id = #{record.id,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      image_id = #{record.imageId,jdbcType=INTEGER},
      deduct_stock_type = #{record.deductStockType,jdbcType=TINYINT},
      spec_type = #{record.specType,jdbcType=TINYINT},
      spec_sku_id = #{record.specSkuId,jdbcType=VARCHAR},
      goods_spec_id = #{record.goodsSpecId,jdbcType=INTEGER},
      goods_attr = #{record.goodsAttr,jdbcType=VARCHAR},
      goods_no = #{record.goodsNo,jdbcType=VARCHAR},
      goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      line_price = #{record.linePrice,jdbcType=DECIMAL},
      goods_weight = #{record.goodsWeight,jdbcType=DOUBLE},
      total_num = #{record.totalNum,jdbcType=INTEGER},
      total_price = #{record.totalPrice,jdbcType=DECIMAL},
      order_id = #{record.orderId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.ziruo.mall.model.domain.OrderGoods">
    update ln_order_goods
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        image_id = #{imageId,jdbcType=INTEGER},
      </if>
      <if test="deductStockType != null">
        deduct_stock_type = #{deductStockType,jdbcType=TINYINT},
      </if>
      <if test="specType != null">
        spec_type = #{specType,jdbcType=TINYINT},
      </if>
      <if test="specSkuId != null">
        spec_sku_id = #{specSkuId,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecId != null">
        goods_spec_id = #{goodsSpecId,jdbcType=INTEGER},
      </if>
      <if test="goodsAttr != null">
        goods_attr = #{goodsAttr,jdbcType=VARCHAR},
      </if>
      <if test="goodsNo != null">
        goods_no = #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="linePrice != null">
        line_price = #{linePrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsWeight != null">
        goods_weight = #{goodsWeight,jdbcType=DOUBLE},
      </if>
      <if test="totalNum != null">
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="net.ziruo.mall.model.domain.OrderGoods">
    update ln_order_goods
    set goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      image_id = #{imageId,jdbcType=INTEGER},
      deduct_stock_type = #{deductStockType,jdbcType=TINYINT},
      spec_type = #{specType,jdbcType=TINYINT},
      spec_sku_id = #{specSkuId,jdbcType=VARCHAR},
      goods_spec_id = #{goodsSpecId,jdbcType=INTEGER},
      goods_attr = #{goodsAttr,jdbcType=VARCHAR},
      goods_no = #{goodsNo,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      line_price = #{linePrice,jdbcType=DECIMAL},
      goods_weight = #{goodsWeight,jdbcType=DOUBLE},
      total_num = #{totalNum,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      order_id = #{orderId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.ziruo.mall.model.domain.OrderGoods">
    update ln_order_goods
    set goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      image_id = #{imageId,jdbcType=INTEGER},
      deduct_stock_type = #{deductStockType,jdbcType=TINYINT},
      spec_type = #{specType,jdbcType=TINYINT},
      spec_sku_id = #{specSkuId,jdbcType=VARCHAR},
      goods_spec_id = #{goodsSpecId,jdbcType=INTEGER},
      goods_attr = #{goodsAttr,jdbcType=VARCHAR},
      goods_no = #{goodsNo,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      line_price = #{linePrice,jdbcType=DECIMAL},
      goods_weight = #{goodsWeight,jdbcType=DOUBLE},
      total_num = #{totalNum,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      order_id = #{orderId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>